<nav class="navbar navbar-dark navbar-expand-lg navbar-light m-0" style="background-color: #263238;">
  <a class="navbar-brand" href="#">JOLC</a>
  <ul class="navbar-nav">
    <li class="nav-item {{ HomeActive.isActive ? 'active': '' }}">
      <a class="nav-link" routerLinkActive="active" #HomeActive="routerLinkActive" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item {{ AnalizarActive.isActive ? 'active': '' }}">
      <a class="nav-link" routerLinkActive="active" #AnalizarActive="routerLinkActive" routerLink="/Analizador">Analizador <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
<div class="row vh-80 justify-content-center align align-items-center pt-3">
  <div class="col-8">
      <div class="row justify-content-center align align-items-center pt-3">
          <div class="col-12">
              <div class="card text-white">
                  <div class="card-header text-center font-weight-bold" style="background-color: #25252E;">
                    <h1>Pagina de Bienvenida</h1>
                  </div>
                    <div class="card-body text-center" style="background-color: #2a2a2a;">
                        <img src="assets/img.jpg" alt="">
                        <br>
                        <hr>
                        <p>Nombre: Rudy Aarón Gopal Marroquín Garcia</p>
                        <p>Carnet: 201903872</p>
                        <p>ORGANIZACION DE LENGUAJES Y COMPILADORES 2 Sección N</p>
                        <p>Segundo Semestre 2021</p>
                    </div>
                  <div class="card-footer" style="background-color: #25252E;"></div>
              </div>
          </div>
      </div>
  </div>
</div>

